   .fw-image{width:100%!important}

/****digitaler-nomade*****/
body {background-repeat: no-repeat;background-size: cover;width:100%;margin:0 auto;background-position:50% 50%!important}
#canvasWrapper{max-width:981px;width:100%;padding:0}
#navigationBottom .horizontalNavigationBar {
    max-width: 961px;
    width: 100%;
}
#bannerWrapper #banner{    max-width: 100%;
  width: 100%;}
#contentWrapper{max-width:881px;width:100%;    margin: 0 auto;
    margin-top: 15px;}
#pageHeader{padding:0 50px}
#navigationBottom .content-navigation{display:block}
#navigationBottom .horizontalNavigationBar{padding-left:0;padding-right:0}
#content{width:100%!important}
.full-image-block img{  width: 100%;}
#navigationBottom .horizontalNavigationBar .content-navigation{width: 100%;
    display: flex;
    justify-content: space-around;
}

.horizontalNavigationBar .module a{     margin-left: 0px; }
 /****end digitaler-nomade*****/
/****texas-c-corporation & same****/
 .exampleTable2 .full-image-block img,.exampleTable .full-image-block img{width: auto;}
.full-image-block.ssNonEditable img{width:auto}
/****end texas-c-corporation & same****/

/*******die-kanzlei** news-archiv**aktuelles*kontakt*rechnung-bezahlen*kanzlei-geschichte*companies-house******/
#modulePage3806752 #pageBodyWrapper,#modulePage5644014 #pageBodyWrapper,#modulePage3780154 #pageBodyWrapper,
#modulePage3780380 #pageBodyWrapper,#modulePage3810862 #pageBodyWrapper,#modulePage3810605 #pageBodyWrapper,
#modulePage5653760 #pageBodyWrapper{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#modulePage3806752 #contentWrapper,#modulePage5644014 #contentWrapper,#modulePage3780154 #contentWrapper,
#modulePage3780380 #contentWrapper,#modulePage3810862 #contentWrapper,#modulePage3810605 #contentWrapper,
#modulePage5653760 #contentWrapper
{    width: 656px;
    margin-right: 10px;
    margin-left: 35px;}
#modulePage3806752 p:first-child {
    text-align: center;
}
#modulePage3806752 p:first-child .full-image-block img {
    width: 88%!important;
}

#modulePage3810862 .content-passthrough{margin-top:20px}
/*******end die-kanzlei*** news-archiv*****/


/******eu-vat*expansion-in-den-uk***/
.lpRight p{    margin-bottom:0;}

/******end eu-vat*expansion-in-den-uk***/

/*****limited-gruendung-betreuung****/
.wButton {  margin-top: -64px;}
/*****end limited-gruendung-betreuung****/

@media (max-width:992px){
 /*   .fw-image{width:100%!important}

/****digitaler-nomade*****/
/*body {background-repeat: no-repeat;background-size: cover;width:100%;margin:0 auto;background-position:50% 50%!important}
#canvasWrapper{max-width:981px;width:100%;padding:0}
#navigationBottom .horizontalNavigationBar {
    max-width: 961px;
    width: 100%;
}
#bannerWrapper #banner{    max-width: 100%;
  width: 100%;}
#contentWrapper{max-width:881px;width:100%;    margin: 0 auto;
    margin-top: 15px;}
#pageHeader{padding:0 50px}
#navigationBottom .content-navigation{display:block}
#navigationBottom .horizontalNavigationBar{padding-left:0;padding-right:0}
#content{width:100%!important}
.full-image-block img{  width: 100%;}
#navigationBottom .horizontalNavigationBar .content-navigation{width: 100%;
    display: flex;
    justify-content: space-around;
}

.horizontalNavigationBar .module a{     margin-left: 0px; }*/
 /****end digitaler-nomade*****/
  /****  digitaler-nomade****/
   #modulePage19644137 .full-image-block.ssNonEditable img{width:100%}
   
/****head-office-london****/
#content a img{width:auto}
/****end head-office-london****/


/****home page****/
#modulePage8187337 #content a img {
    width: 100%;
}
#modulePage8187337 #content a{display:block}

/****end home page****/


/****us-corporation****/

/*.full-image-block.ssNonEditable img{width:auto}*/
/****end us-corporation****/
     /****digitaler-nomade*****/
  #navigationBottom .content-navigation{display: flex;
    flex-direction: column;align-items: center;}
  .horizontalNavigationBar .module a{font-size: 18px;margin-left: 0px;}
  #navigationBottom .horizontalNavigationBar .content-navigation {
    float: none; 
}
  #canvas{    width: 90%;
    margin: 0 auto;}
  #pageHeader {
    padding: 0 ;
}
  .clearer{display:none}
  #pageFooter{    font-size: 15px;}
  .requestPA{    font-size: 16px;}
  #content p,#content li {  font-size: 15px;    }
  .onThisPage{font-size: 15px;}
     /****end digitaler-nomade*****/
    
    /****malta****/

/*#modulePage19645981 #content a img {
    width: 100%;
}*/
.sectionMainPageTable,.sectionMainPageTable tbody, .sectionMainPageTable,.sectionMainPageTable tbody tr{display: block;}
#modulePage19645981 #content .full-image-block.ssNonEditable a img {
    width:auto;
}



/****end malta****/
/****texas-c-corporation & same****/
    .infoDIVleft,.infoDIVright {width:100%;    padding-left: 0;
    padding-right: 0;
    margin-right: 0;} 
    .infoDIVleft ul,.infoDIVright ul{margin-right:20px}
    .infoDIVleft strong,.infoDIVright strong{padding-left:20px}
    .infoDIVright{margin-bottom:20px}
    .thumbnail-image-float-left.ssNonEditable{    width: 100%;}
    .thumbnail-image-float-left.ssNonEditable span:first-child{text-align:center;display:block}
    .thumbnail-image-float-left.ssNonEditable span a{display:block}
    .sectionMainPageTable{width:100%}
  /* #content .sectionMainPageTable img{width:95%}*/
   .sectionMainPageTable tbody tr{     display: flex;
       justify-content: space-between;}
    .sectionMainPageTable a{display:block}
    #content span a{display:block}
    .bottomTeasers{display:flex;}
    .bottomTeasers tbody{display: flex;
    width: 100%;
    flex-direction: column;
}
    .bottomTeasers tbody tr{display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
     .bottomTeasers tbody tr td{
width: 34%;
    margin-right: 40px;
         margin-left: 40px;}
   #content .bottomTeasers tbody tr td img{width:100%}
    iframe{width:100%!important}
    #content .serviceMainHeader + p .full-image-block.ssNonEditable img{width:100%}
    #content .serviceMainHeader + p + p .full-image-block.ssNonEditable img{width:100%}
   .exampleTable2 .full-image-block img{width: auto;}
 /****end texas-c-corporation & same****/
   /****head-office-london****/
     #modulePage3794294 .thumbnail-image-float-left {
    float: none;
    margin: 0;
} 
  /** uk-leistungsangebot & same (table)***/
   .container { max-width: 870px; margin: 0 auto;  width: 100%;}
  #content .container .npost-left-sec img{width:100%}
 
 #content .container .npost-left-sec {
    float: left;
    width: auto;
    margin-right: 22px;
}
  #content .container .npost-right-sec {
    float: none;
    padding: 10px;text-decoration: none;
      width: auto;}
   #content .container a{text-decoration:none}
   /**end uk-leistungsangebot & same (table)***/
 /**uk-gesellschaften***/
    #content .sectionMainPageTable img {
    width: 100%;
}
   #content .npost-right-sec h3{font-size:23px}
   
    #content .sectionMainPageTable td{margin-right:10px}
   
   #modulePage19646824 img{width:100%}
    /**end uk-gesellschaften***/
   /**head-office-london***/
   #modulePage3794294 .thumbnail-image-float-left.ssNonEditable img{width:100%}
   /**end head-office-london***/
   /**leistungen***/
   #modulePage19605403 table{display: flex;}
   #modulePage19605403 table tbody{    width: 100%;}
    #modulePage19605403 table tbody tr{      width: 100%;
    display: flex;
    justify-content: space-between;}
   #modulePage19605403 table tbody .promoted-service{    padding-right:10px;}
    #modulePage19605403 table tbody .promoted-service img{ width:100%}
   #modulePage19605403 h2{margin-top:0px}
   /**end leistungen***/
   /*****beratung****/
   
   #modulePage19626760 img{width:100%}
   /*****end beratung****/
   
   /*******die-kanzlei****news-archiv**aktuelles*kontakt*rechnung-bezahlen*kanzlei-geschichte*companies-house***/
   #modulePage3806752 #pageBody,#modulePage5644014  #pageBody,#modulePage3780154 #pageBody,#modulePage3780380 #pageBody,
   #modulePage3810862 #pageBody,#modulePage3810605 #pageBody,#modulePage5653760 #pageBody
   {    display: flex;
    flex-direction: column-reverse;width:100%}
   #modulePage3806752 #contentWrapper,#modulePage5644014 #contentWrapper,#modulePage3780154 #contentWrapper,
   #modulePage3780380 #contentWrapper,#modulePage3810862 #contentWrapper,#modulePage3810605 #contentWrapper,
   #modulePage5653760 #contentWrapper {
    width: 100%;
      margin-right: 0;margin-left:0}

 #modulePage3806752  #sidebar1Wrapper, #modulePage5644014  #sidebar1Wrapper,#modulePage3780154 #sidebar1Wrapper,
  #modulePage3780380 #sidebar1Wrapper,#modulePage3810862 #sidebar1Wrapper,#modulePage3810605 #sidebar1Wrapper,
   #modulePage5653760 #sidebar1Wrapper{
    display: block;
    float: none;
    width: 100%;
    padding: 0;
}
  #modulePage3806752  .section ul li,#modulePage3806752 #moduleContent8204875,#modulePage5644014 #moduleContent8204875,
   #modulePage3780154 #moduleContent8204875,#modulePage3780154 #moduleContent8204875, #modulePage3780380 #moduleContent8204875,
   #modulePage3780380 .section ul li,#modulePage3810862 #moduleContent8204875,#modulePage3810605 #moduleContent8204875,
   #modulePage3810605 .section ul li,#modulePage5653760 .section ul li,#modulePage5653760 #moduleContent8204875 {
    
      text-align: center;}
 #modulePage3806752 p:first-child .full-image-block img {
    width: 100%!important;
}
   #modulePage3806752 #moduleContent8204875 img {
    width: auto!important;
}
   #modulePage3810862 .content-passthrough{margin-top:0px}
   #modulePage3810862 #content{text-align:center}
  
/*******end die-kanzlei********/
   /*******aktuelles********/
 #modulePage3780154 .journal-entry-tag-post-body-line1{display: flex;    font-size: 15px;}
  #modulePage3780154 .journal-entry-tag-post-body-line2{    display: flex;
    font-size: 14px;
    flex-direction: column;} 
   #modulePage3780154 .journal-entry-tag-post-body-line2 .tagged-with{    display: flex;
    flex-flow: row wrap;
    flex-direction: row;}
   #modulePage3780154 .journal-entry-tag-post-body-line2 .tagged-with span:first-child{margin-left:10px}
   #modulePage3780154 .posted-in{display: flex;
    flex-flow: row wrap;
      flex-direction: row;}
    #modulePage3780154 .posted-in span:first-child{margin-left:10px}
   .paginationControlWrapper.journal-navigation{font-size: 22px;}
   .paginationPageNumber {
           font-size: 11px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
      padding-bottom: 8px;}
   /*******aktuelles********/
   
   /****wohnsitzverlagerung-ausland***/
   #modulePage19601193 .full-image-block.ssNonEditable{text-align:center}
   #modulePage19601193 .thumbnail-image-float-left.ssNonEditable img{width:99%}
      /****end wohnsitzverlagerung-ausland***/
    /*** steuergestaltung***/
   
    #modulePage19643085 .requestPA + h2 + p + p .full-image-block.ssNonEditable img{width:100%}
   #modulePage19643085 .p1 + p a img {
    width: 100%;
}
   /***end steuergestaltung***/
   /***us-corporation***/
   #modulePage19185498 .requestPA + div + h2 + p + p .full-image-block.ssNonEditable img {
    width: 100%;
}
   /***end us-corporation***/
   
    /***uk-steuerliche-betreuung***/
   #modulePage19646969 img{ width: 100%;}
    /***end uk-steuerliche-betreuung***/
   
   /******eu-vat*expansion-in-den-uk***/

.lpLeft {
    float: none;
    margin-right: 0;
    margin: 0 auto;margin-bottom: 20px;
}
   .lpRight {
    height: auto;
    float: none;
    width: 100%;
}
   .lpRight .full-image-block.ssNonEditable{text-align:center}
/******end eu-vat*expansion-in-den-uk***/
   
   /***head-office-london-gallerie*****/
   #gallery1153523{display: flex;
    flex-direction: column;}
   /***end head-office-london-gallerie*****/
   
   /**ablauf-ltd-co-kg-gruendung****/
   #modulePage5072253 #content{text-align:center}
   /**end ablauf-ltd-co-kg-gruendung****/
   /*beratung-international-tax*beratung-uk*beratungsgespraech-holding*****/
   #modulePage19626773 .serviceMainHeader + p + p + p .full-image-block.ssNonEditable img,
   #modulePage19626834 .serviceMainHeader + p + p + p .full-image-block.ssNonEditable img,
   #modulePage19631444 .serviceMainHeader + p + p + p .full-image-block.ssNonEditable img
   {    width: 100%;}
   /*end beratung-international-tax*beratung-uk*beratungsgespraech-holding*****/
   
   /******limited-gruendung-betreuung********/
   #headerDIV{background-repeat: no-repeat;
    background-size: cover;max-width: 870px;
    width: 100%;
    height: 294px;}
   .serviceDIV3 {
    
      height: 165px;}
   .h2Service {
      font-size: 20px;}
  #modulePage5652115 .serviceMainHeader{text-align:center}
   /******end limited-gruendung-betreuung********/
   /*****holding****/
   #modulePage11932573 h2 + p + p .full-image-block.ssNonEditable img {
     width: 100%; }
   #modulePage11932573 .thumbnail-caption{    width: 100%!important;
    text-align: center;}
    #modulePage11932573 h2 + p + p + p .full-image-block.ssNonEditable img {
     width: 100%; }
    #modulePage11932573 h2 + p + p + p + p + p .full-image-block.ssNonEditable img {
     width: 100%; }
    #modulePage11932573 h2 + p + p + p + p + p .full-image-block.ssNonEditable span a img {
     width:auto; }
    /*****end holding****/
   /**uk-limited-splash-page-at***/
   #modulePage11739575 h1{text-align:center}
   #modulePage11739575 table{display: flex;
    flex-direction: column;}
  #modulePage11739575 table tr{  display: flex;
    flex-direction: row;
     justify-content: space-around;}
   /**end uk-limited-splash-page-at***/
   
}
@media (max-width:767px){
  /****digitaler-nomade*****/
  #pageFooter div{font-size:16px;text-align:center}
  #content a img{width:65%}
     /****end digitaler-nomade*****/
    
    /****home page****/
   #modulePage8187337 #content table,#modulePage8187337 #content tbody{display:block}
    #modulePage8187337 #content table tr:last-child,#modulePage8187337 #content table tr:nth-child(3){display:flex}
    
/****end home page****/ 
    
 /****texas-c-corporation & same****/ 
    
    
  #content .thumbnail-image-float-left.ssNonEditable img{    width: 99%;}
    
  /****end texas-c-corporation & same****/ 
      /** uk-leistungsangebot & same (table)***/
   #content .container .npost-left-sec{display: flex;
    float: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
      margin-bottom: 3px;}
   #content .container .npost-left-sec img{width:auto}
   #content .container .read-more-btn{    position: relative;
    
    margin: 0 auto;
   
    width: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;}
   #content .container .npost-sec {
    }
  /** end uk-leistungsangebot & same (table)***/ 
   /*******aktuelles********/
   
   
   #modulePage3780154 .journal-entry-tag.journal-entry-tag-post-body img{width:auto}
   /*******end aktuelles********/
   
   /*******uk-public-limited-company*uk-limited-by-guarantee*scottish-limited-partnership*limited-co-kg*
   ruhende-limited*llp-mit-niederlassung*llp-ohne-niederlassung*limited-in-der-schweiz*limited-gruendung-schweiz*limited-in-deutschland
   *limited-in-oesterreich*****/
   #modulePage19647402 #content .thumbnail-image-float-left.ssNonEditable img,
   #modulePage19647400 #content .thumbnail-image-float-left.ssNonEditable img,
   #modulePage19608877 #content .thumbnail-image-float-left.ssNonEditable img,
   #modulePage5072120 #content .thumbnail-image-float-left.ssNonEditable img,
   #modulePage5652913 #content .thumbnail-image-float-left.ssNonEditable img,
   #modulePage12282152 #content .thumbnail-image-float-left.ssNonEditable img,
   #modulePage12282163 #content .thumbnail-image-float-left.ssNonEditable img,
   #modulePage19192494 #content .thumbnail-image-float-left.ssNonEditable img,
   #modulePage19445056 #content .thumbnail-image-float-left.ssNonEditable img,
   #modulePage7558943 #content .thumbnail-image-float-left.ssNonEditable img,
   #modulePage11739393 #content .thumbnail-image-float-left.ssNonEditable img
   {    width: auto;}
   #modulePage19647402 .full-image-float-left.ssNonEditable{width:100%}
    /*******end uk-public-limited-company*uk-limited-by-guarantee*scottish-limited-partnership*limited-co-kg*ruhende-limited
   *llp-mit-niederlassung*llp-ohne-niederlassung*limited-in-der-schweiz*limited-gruendung-schweiz***/
   
   /**limited-gruendung-schweiz*limited-gruendung-oesterreich***/
   #modulePage19445056 .full-image-float-left.ssNonEditable,#modulePage19445056 .full-image-float-right.ssNonEditable,
   #modulePage11739451 .full-image-float-left.ssNonEditable,#modulePage11739451 .full-image-float-right.ssNonEditable
   {width: 100%;
    text-align: center;
    float: none;margin:0;
    display: block;}
   #modulePage19445056 .thumbnail-caption,#modulePage11739451 .thumbnail-caption{width: 100%!important;text-align:center}
  #modulePage19445056 .full-image-block,#modulePage11739451 .full-image-block {     text-align: center;}
  #modulePage19445056 #content .thumbnail-image-float-left.ssNonEditable img,#modulePage11739451 #content .thumbnail-image-float-left.ssNonEditable img
   {width:auto}
    /**end limited-gruendung-schweiz*limited-gruendung-oesterreich***/
   /***head-office-london-gallerie*****/
   #gallery1153523 a img{width:auto;margin-right:20px}
   /***end head-office-london-gallerie*****/
   
    /****** limited-gruendung-betreuung********/ 
   .divH2,.divH2Right{    width: 100%;
    float: none;
    padding: 0;
    text-align: center;}
   .serviceDIV3{    width: 90%;
    height: auto;
    margin: 0 auto;
        float: none;}
   #headerDIV {
        height: 402px;}
   #modulePage5652115 a img{width:auto}
/******end limited-gruendung-betreuung********/
   
   
}
@media (max-width:556px){
/****texas-c-corporation & same****/ 
    .bottomTeasers tbody tr {
    
    justify-content: space-around;
}
    .bottomTeasers tbody tr td {
    width: 45%;
     margin-right: 0px; 
     margin-left: 0px; 
}
 /****end texas-c-corporation & same****/
   /****** limited-gruendung-betreuung********/
 #headerDIV {
    min-height: 455px;}
   #modulePage5652115 a img{width:auto}
   /******end limited-gruendung-betreuung********/
}


@media (max-width:500px){
  /****digitaler-nomade*****/
  #content a img{width:80%}
  .horizontalNavigationBar .module a {
    font-size: 15px;}
   /****end digitaler-nomade*****/
    
     /**** texas-c-corporation & same**head-office-london**/
    .exampleTable2,.exampleTable{display: flex;}
    .exampleTable2 tr,.exampleTable tr{    display: flex;
    flex-direction: column;
    width: 100%;}
    .exampleTable2 tr td,.exampleTable tr td{text-align:center;}
    .exampleTable2 tr td:last-child,.exampleTable tr td:last-child{border-top:none;padding-top:0}
    .exampleTable2 tr td:last-child h3,.exampleTable tr td:last-child h3{margin-top: -37px;}
    .exampleTable2 tr td:first-child,..exampleTable tr td:first-child{padding-bottom:0;    padding-top: 23px;}
     /****end texas-c-corporation & same****/
  /**head-office-london**/
   #modulePage3794294 .thumbnail-image-float-left.ssNonEditable img{width:100%}
   #modulePage3794294 td .thumbnail-image-float-left.ssNonEditable img {
    width: auto;
}
   .exampleTable tr td:last-child h3{margin-top: 0px;}
   #modulePage3794294 .full-image-float-left{float:none}
  #modulePage3794294 .exampleTable img {
    border: none; 
}
 /**leistungen******/  
   #modulePage19605403 table tbody tr {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
   #modulePage19605403 table tbody .promoted-service {
    padding-right: 0;    padding-top: 25px;
}
   #modulePage19605403 table tbody .promoted-service img {
    width: auto;
}
    #modulePage19605403 table tbody tr:last-child .promoted-service {
    padding-top:0;
}
    #modulePage19605403 table tbody tr:last-child .promoted-service:first-child {
       padding-top: 25px;
}
   /****end leistungen****/
 /*******aktuelles********/
   
   
   #modulePage3780154 .journal-entry-tag.journal-entry-tag-post-body img{width:auto}
   /*******end aktuelles********/
   /**limited-gruendung-schweiz*limited-gruendung-oesterreich***/
   
    #modulePage19445056 .full-image-float-left.ssNonEditable img,#modulePage19445056 .full-image-float-right.ssNonEditable img,
    #modulePage11739451 .full-image-float-left.ssNonEditable img,#modulePage11739451 .full-image-float-right.ssNonEditable img
   {width:100%}
    /**end limited-gruendung-schweiz*limited-gruendung-oesterreich***/
   
   /***head-office-london-gallerie*****/
   #gallery1153523 li{    border-top: 1px solid #cacaca;
    padding-top: 20px;
    margin-bottom: 20px;}
   #gallery1153523 .thumbnail-container-with-description{width: 100%!important;
    float: none;
    text-align: center;}
   #gallery1153523 a img{width:auto;margin:0px}
   #gallery1153523 .description{    text-align: center;}
   #gallery1153523 .description h3{ font-size: 20px;}
   
   /***end head-office-london-gallerie*****/
   .exampleTable img {
     border: none;/
}
   .thumbnail-image-float-left img, .thumbnail-image-float-right img, .thumbnail-image-float-none img {
      border: none; }
   
   /**300-millionen-inder***/
   #modulePage4264096 .full-image-float-left.ssNonEditable{    margin: 0;
    width: 100%;
    text-align: center;}
   #modulePage4264096 .thumbnail-caption{    width: 100%!important;}
    /**end 300-millionen-inder***/
   
    /**ablauf-ltd-co-kg-gruendung****/
   #modulePage5072253 .full-image-block.ssNonEditable img{    width: 100%;}
   /**end ablauf-ltd-co-kg-gruendung****/
   
   /***was-taxibelege-usw***/
   #modulePage19631621 .full-image-block.ssNonEditable img { width: 100%;}
   /***end was-taxibelege-usw***/
    /****** limited-gruendung-betreuung********/
 #headerDIV {
    min-height: 566px;}
   #modulePage5652115 a img{width:auto}
   /******end limited-gruendung-betreuung********/
   /**holding***/
 #modulePage11932573 h2 + p + p + p + p + p .full-image-block.ssNonEditable span a img {
     width:80%; }
     /**end holding***/
}
@media (max-width:400px){
    /****digitaler-nomade*****/
  #content a img{width:100%}
    /****end digitaler-nomade*****/
    
    
     /****texas-c-corporation & same****/
    
    .sectionMainPageTable tbody tr {
        flex-direction: column;}
    .sectionMainPageTable tbody tr a {
           text-align: center;}
    #content .sectionMainPageTable img {
    width: 55%;
}
   #content .sectionMainPageTable td {
   
    margin-right: 0px;
}
    
     /****end texas-c-corporation & same****/
   /**uk-leistungsangebot & same (table)***/
   #content .container .npost-right-sec h3{    font-size: 23px;}
      /**end uk-leistungsangebot & same (table)***/
      
  /*** uk-gesellschaften**malta*/
   
 #modulePage19646824  #content .sectionMainPageTable img,#modulePage19645981  #content .sectionMainPageTable img {
    width: 100%;}
   /***end uk-gesellschaften**/
   /****england-insolvenz*brexit***/
   #modulePage19647040 #content .sectionMainPageTable img,#modulePage19656980 #content .sectionMainPageTable img {
     width: 100%; 
}
    /****end england-insolvenz*brexit***/
    /*******aktuelles********/
   
   #modulePage3780154 .journal-entry-tag-post-body-line1 {
    
    font-size: 13px;
}
   #modulePage3780154 .journal-entry-tag-post-body-line2 {
    
    font-size: 12px;
   
}
   #modulePage3780154 .journal-entry-tag.journal-entry-tag-post-body img{width:auto}
   /*******end aktuelles********/
  
   /*** steuergestaltung*uk-steuerliche-betreuung**/
   
    #modulePage19643085 .sectionMainPageTable img,#modulePage19646969 .sectionMainPageTable img{width:100%}
   /***end steuergestaltung*uk-steuerliche-betreuung**/
   /****us-corporation****/
   #modulePage19185498 .sectionMainPageTable img{width:100%}
   /****end us-corporation****/
   /***head-office-london-gallerie*****/
      #gallery1153523 a img{width:auto;}
    /***end head-office-london-gallerie*****/
   
     /****** limited-gruendung-betreuung********/
    #modulePage5652115 a img{width:auto}
   /******end limited-gruendung-betreuung********/
    /**holding***/
 #modulePage11932573 h2 + p + p + p + p + p .full-image-block.ssNonEditable span a img {
     width:100%; }
     /**end holding***/
}
