.fw-image{width:100%!important}

/****digitaler-nomade*****/
body {background-repeat: no-repeat;background-size: cover;width:100%;margin:0 auto;background-position:50% 50%!important}
#canvasWrapper{max-width:981px;width:100%;padding:0}
#navigationBottom .horizontalNavigationBar {
    max-width: 961px;
    width: 100%;
}
#bannerWrapper #banner{    max-width: 100%;
  width: 100%;}
#contentWrapper{max-width:881px;width:100%;    margin: 0 auto;
    margin-top: 15px;}
#pageHeader{padding:0 50px}
#navigationBottom .content-navigation{display:block}
#navigationBottom .horizontalNavigationBar{padding-left:0;padding-right:0}
#content{width:100%!important}
.full-image-block img{  width: 100%;}
#navigationBottom .horizontalNavigationBar .content-navigation{width: 100%;
    display: flex;
    justify-content: space-around;
}

.horizontalNavigationBar .module a{     margin-left: 0px; }
 /****end digitaler-nomade*****/
/****head-office-london****/
#content a img{width:auto}
/****end head-office-london****/


/****home page****/
#modulePage8187337 #content a img {
    width: 100%;
}
#modulePage8187337 #content a{display:block}

/****end home page****/


/****us-corporation****/

.full-image-block.ssNonEditable img{width:auto}
/****end us-corporation****/




@media (max-width:992px){
     /****digitaler-nomade*****/
  #navigationBottom .content-navigation{display: flex;
    flex-direction: column;align-items: center;}
  .horizontalNavigationBar .module a{font-size: 18px;margin-left: 0px;}
  #navigationBottom .horizontalNavigationBar .content-navigation {
    float: none; 
}
  #canvas{    width: 90%;
    margin: 0 auto;}
  #pageHeader {
    padding: 0 ;
}
  .clearer{display:none}
  #pageFooter{    font-size: 15px;}
  .requestPA{    font-size: 16px;}
  #content p,#content li {  font-size: 15px;    }
  .onThisPage{font-size: 15px;}
     /****end digitaler-nomade*****/
    
    /****malta****/

#modulePage19645981 #content a img {
    width: 100%;
}
.sectionMainPageTable,.sectionMainPageTable tbody, .sectionMainPageTable,.sectionMainPageTable tbody tr{display: block;}
#modulePage19645981 #content .full-image-block.ssNonEditable a img {
    width:auto;
}



/****end malta****/
/****texas-c-corporation & same****/
    .infoDIVleft,.infoDIVright {width:100%;    padding-left: 0;
    padding-right: 0;
    margin-right: 0;} 
    .infoDIVleft ul,.infoDIVright ul{margin-right:20px}
    .infoDIVleft strong,.infoDIVright strong{padding-left:20px}
    .infoDIVright{margin-bottom:20px}
    .thumbnail-image-float-left.ssNonEditable{    width: 100%;}
    .thumbnail-image-float-left.ssNonEditable span:first-child{text-align:center;display:block}
    .thumbnail-image-float-left.ssNonEditable span a{display:block}
    .sectionMainPageTable{width:100%}
   #content .sectionMainPageTable img{width:95%}
   .sectionMainPageTable tbody tr{     display: flex;
       justify-content: space-between;}
    .sectionMainPageTable a{display:block}
    #content span a{display:block}
    .bottomTeasers{display:flex;}
    .bottomTeasers tbody{display: flex;
    width: 100%;
    flex-direction: column;
}
    .bottomTeasers tbody tr{display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
     .bottomTeasers tbody tr td{
width: 34%;
    margin-right: 40px;
         margin-left: 40px;}
   #content .bottomTeasers tbody tr td img{width:100%}
    iframe{width:100%!important}
    #content .serviceMainHeader + p .full-image-block.ssNonEditable img{width:100%}
    #content .serviceMainHeader + p + p .full-image-block.ssNonEditable img{width:100%}
   
 /****end texas-c-corporation & same****/
    
    
}
@media (max-width:767px){
  /****digitaler-nomade*****/
  #pageFooter div{font-size:16px;text-align:center}
  #content a img{width:65%}
     /****end digitaler-nomade*****/
    
    /****home page****/
   #modulePage8187337 #content table,#modulePage8187337 #content tbody{display:block}
    #modulePage8187337 #content table tr:last-child,#modulePage8187337 #content table tr:nth-child(3){display:flex}
    
/****end home page****/ 
    
 /****texas-c-corporation & same****/ 
    
    
  #content .thumbnail-image-float-left.ssNonEditable img{    width: 99%;}
    
  /****end texas-c-corporation & same****/  
}
@media (max-width:556px){
/****texas-c-corporation & same****/ 
    .bottomTeasers tbody tr {
    
    justify-content: space-around;
}
    .bottomTeasers tbody tr td {
    width: 45%;
     margin-right: 0px; 
     margin-left: 0px; 
}
 /****end texas-c-corporation & same****/
}


@media (max-width:500px){
  /****digitaler-nomade*****/
  #content a img{width:80%}
  .horizontalNavigationBar .module a {
    font-size: 15px;}
   /****end digitaler-nomade*****/
    
     /**** texas-c-corporation & same****/
    .exampleTable2{display: flex;}
    .exampleTable2 tr{    display: flex;
    flex-direction: column;
    width: 100%;}
    .exampleTable2 tr td{text-align:center;}
    .exampleTable2 tr td:last-child{border-top:none;padding-top:0}
    .exampleTable2 tr td:first-child{padding-bottom:0}
     /****end texas-c-corporation & same****/
}
@media (max-width:400px){
    /****digitaler-nomade*****/
  #content a img{width:100%}
    /****end digitaler-nomade*****/
    
    
     /****texas-c-corporation & same****/
    
    .sectionMainPageTable tbody tr {
        flex-direction: column;}
    .sectionMainPageTable tbody tr a {
           text-align: center;}
    #content .sectionMainPageTable img {
    width: 55%;
}
    
     /****end texas-c-corporation & same****/
    
}
